.todos-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.todos-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  height: 45px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 5px;
  border-radius: 44px;
  box-shadow: #2d2a2a 0px 0px 5px;
}

.input, textarea{
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 44px;
  height: 30px;
  background: transparent;
}

.todos-box {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cleanButton {
  outline: none;
  border: none;
  background-color: transparent;
}
.cleanButton:hover {
  cursor: pointer;
}
.addTodoButton {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  box-shadow: #2d2a2a 0px 0px 5px;
}

.addTodoButton:hover,
.addTodoButton:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
