<div class="todos-header">
  <h1>Angular TODO</h1>
  <button (click)="logoutHandler()">logout</button>
</div>

<div class="todos-input">
  <div class="input-wrapper">
  <input class="input" type="text" placeholder="Add new Todo" [(ngModel)]="todoTitle" (keyup.enter)="addTodoHandler()">
  <button class="cleanButton" *ngIf="todoTitle" (click)="todoTitle=''">X</button>
  </div>
  <button class="addTodoButton" (click)="addTodoHandler()"> Add Todo </button>
</div>

<div class="todos-box">
  <tl-todo
    *ngFor="let todo of todos$ | async"
    [todo]="todo"
    (removeTodoEvent)="removeTodo($event)"
    (editTodoEvent)="editTodo($event)"
  ></tl-todo>
</div>
